<?xml version="1.0"?>
<!--
/**
 * Zaproo Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * Zaproo does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Zaproo does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   Zaproo
 * @package    Esto_HirePurchase
 * @version    1.0.2
 * @copyright  Copyright (c) Zaproo Co. (http://www.zaproo.com)
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <esto_hirepurchase>
                <debug>0</debug>
                <active>0</active>
                <payment_action>order</payment_action>
                <model>EstoPaymentGatewayFacade</model>
                <order_status>pending</order_status>
                <title>Pay conveniently and quickly in installments - 0€ contract fee!</title>
                <description><![CDATA[ESTO hire-purchase ensures provision of the service as quickly and conveniently as when paying via a bank link. Confirm the order and, to review your personal terms and conditions and make a successful purchase, sign the hire purchase agreement digitally using your ID card, Smart-ID or Mobile ID.]]></description>
                <currency>EUR</currency>
                <can_initialize>1</can_initialize>
                <secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <estonian_custom>0</estonian_custom>
                <estonian_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <lithuanian_custom>0</lithuanian_custom>
                <lithuanian_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <latvian_custom>0</latvian_custom>
                <latvian_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <can_use_checkout>1</can_use_checkout>
                <automatic_invoice>1</automatic_invoice>
                <monthly_payment_block_is_active>0</monthly_payment_block_is_active>
                <monthly_payment_block_title><![CDATA[Monthly payment from &euro;%summa%]]></monthly_payment_block_title>
                <min_order_total>0.1</min_order_total>
                <max_order_total>10000</max_order_total>
                <mode>live</mode>
                <request_endpoint>EE</request_endpoint>
                <paymentInfoKeys>id,purchase_url,connection_mode,status</paymentInfoKeys>
                <privateInfoKeys>id,purchase_url,connection_mode,status</privateInfoKeys>
                <retain>1</retain>
                <countries_status>0</countries_status>
                <countries>EE,LT,LV</countries>
            </esto_hirepurchase>
            <esto_pay_later>
                <active>0</active>
                <model>EstoPaymentGatewayFacadePayLater</model>
                <title><![CDATA[Buy now, but pay later!]]></title>
                <description><![CDATA[Confirm the order now, and ESTO will give you 30 additional days for payment. Receive the service and pay at your discretion within the next 30 days without any additional charges! No interest. No additional charges. The payment method is provided and managed by ESTO AS.]]></description>
                <min_order_total>0</min_order_total>
                <max_order_total>10000</max_order_total>
                <payment_action>order</payment_action>
                <order_status>pending</order_status>
                <currency>EUR</currency>
                <can_initialize>1</can_initialize>
                <secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <estonian_custom>0</estonian_custom>
                <estonian_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <lithuanian_custom>0</lithuanian_custom>
                <lithuanian_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <latvian_custom>0</latvian_custom>
                <latvian_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <can_use_checkout>1</can_use_checkout>
                <automatic_invoice>1</automatic_invoice>
                <monthly_payment_block_is_active>0</monthly_payment_block_is_active>
                <monthly_payment_block_title><![CDATA[Monthly payment from &euro;%summa%]]></monthly_payment_block_title>
                <mode>live</mode>
                <request_endpoint>EE</request_endpoint>
                <paymentInfoKeys>id,purchase_url,connection_mode,status</paymentInfoKeys>
                <privateInfoKeys>id,purchase_url,connection_mode,status</privateInfoKeys>
                <retain>1</retain>
                <countries_status>0</countries_status>
                <countries>EE,LT,LV</countries>
            </esto_pay_later>
            <esto_x>
                <active>0</active>
                <model>EstoPaymentGatewayFacadeX</model>
                <min_order_total>60</min_order_total>
                <max_order_total>10000</max_order_total>
                <title>Pay in 3 equal parts. At no extra charge. 0% interest rate. Just pay later!</title>
                <calculator>0</calculator>
                <description><![CDATA[ESTO 3 payment method allows you to pay for your purchase in three equal instalments over a period of three months. The sum of each monthly instalment is calculated by dividing the value of the shopping cart into three equal parts. No interest. No additional charges. Early repayment option always available, no additional charges apply. The payment method is provided and managed by ESTO AS.]]></description>
                <payment_action>order</payment_action>
                <order_status>pending</order_status>
                <currency>EUR</currency>
                <can_initialize>1</can_initialize>
                <secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <estonian_custom>0</estonian_custom>
                <estonian_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <lithuanian_custom>0</lithuanian_custom>
                <lithuanian_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <latvian_custom>0</latvian_custom>
                <latvian_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <can_use_checkout>1</can_use_checkout>
                <automatic_invoice>1</automatic_invoice>
                <mode>live</mode>
                <request_endpoint>EE</request_endpoint>
                <paymentInfoKeys>id,purchase_url,connection_mode,status</paymentInfoKeys>
                <privateInfoKeys>id,purchase_url,connection_mode,status</privateInfoKeys>
                <retain>1</retain>
                <countries_status>0</countries_status>
                <countries>EE,LT,LV</countries>
            </esto_x>
            <esto_pay>
                <active>0</active>
                <model>EstoPaymentGatewayFacadePay</model>
                <min_order_total>60</min_order_total>
                <max_order_total>10000</max_order_total>
                <title>Pay in the bank</title>
                <description><![CDATA[Payment is made using a secure payment solution called “Klix by Citadele” (AS “Citadele banka”).]]></description>
                <payment_action>order</payment_action>
                <order_status>pending</order_status>
                <currency>EUR</currency>
                <can_initialize>1</can_initialize>
                <secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <estonian_custom>0</estonian_custom>
                <estonian_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <lithuanian_custom>0</lithuanian_custom>
                <lithuanian_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <latvian_custom>0</latvian_custom>
                <latvian_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <can_use_checkout>1</can_use_checkout>
                <automatic_invoice>1</automatic_invoice>
                <monthly_payment_block_is_active>0</monthly_payment_block_is_active>
                <monthly_payment_block_title><![CDATA[Monthly payment from &euro;%summa%]]></monthly_payment_block_title>
                <mode>live</mode>
                <show_banks>1</show_banks>
                <banks_columns>2</banks_columns>
                <request_endpoint>EE</request_endpoint>
                <paymentInfoKeys>id,purchase_url,connection_mode,status</paymentInfoKeys>
                <privateInfoKeys>id,purchase_url,connection_mode,status</privateInfoKeys>
                <specific_countries>EE,LT,LV</specific_countries>
                <retain>1</retain>
                <countries_status>0</countries_status>
                <countries>EE,LT,LV</countries>
            </esto_pay>
            <esto_pay_card>
                <active>0</active>
                <model>EstoPaymentGatewayFacadeCard</model>
                <title>Pay by card (Visa/Mastercard)</title>
                <description><![CDATA[Your payment will be made using a secure payment solution.]]></description>
                <payment_action>order</payment_action>
                <order_status>pending</order_status>
                <currency>EUR</currency>
                <can_initialize>1</can_initialize>
                <secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <estonian_custom>0</estonian_custom>
                <estonian_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <lithuanian_custom>0</lithuanian_custom>
                <lithuanian_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <latvian_custom>0</latvian_custom>
                <latvian_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <can_use_checkout>1</can_use_checkout>
                <automatic_invoice>1</automatic_invoice>
                <monthly_payment_block_is_active>0</monthly_payment_block_is_active>
                <monthly_payment_block_title><![CDATA[Monthly payment from &euro;%summa%]]></monthly_payment_block_title>
                <mode>live</mode>
                <request_endpoint>EE</request_endpoint>
                <paymentInfoKeys>id,purchase_url,connection_mode,status</paymentInfoKeys>
                <privateInfoKeys>id,purchase_url,connection_mode,status</privateInfoKeys>
                <specific_countries>EE,LT,LV</specific_countries>
                <retain>1</retain>
                <countries_status>0</countries_status>
                <countries>EE,LT,LV</countries>
            </esto_pay_card>
        </payment>
    </default>
</config>
